html, body {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F0F0F0;
}

.no-margen {
    margin: 0;
}

.hidden {
    display: none;
}

/** VENTANA1 **/

.ventana {
    padding: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: #00FFFF;
    width: 300px;
    height: 150px;
    border: 10px solid #FFFFFF;
    border-radius: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.boton {
    text-decoration: none;
    background-color: #66FF99; /* Verde claro */
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
}

.boton:hover {
    border: 5px solid #FFFFFF;
}

/** VENTANA2 **/

.ventana2-tamanos {
    display: flex;
    justify-content: space-evenly;
}

.ventana2-tamanos p {
    cursor: pointer;
}

/** CARTA **/

.area-carta{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00FFFF;
    height: 200px;
    width: 150px;
    border: 10px solid #FFFFFF;
}

.carta-frente {
   font-size: 600%;
}

.circulo {
    width: 100px;
    height: 100px;
    background-color: orange;
    border-radius: 50%;
}

img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}



