:root {
    --azul: #1C1B4D;
    --rosa: #B80E65;
    --azulClaro: #1791B1;
    --blanco: #FFFFFF;
    --gris: #e2dfe2;
}

html, body {
    height: 150%;
    display: flex;
    margin: 20px;
    align-items: center;
    justify-content: center;
    background-color: var(--azulClaro);
}

.no-margen {
    margin: 0;
}

.hidden {
    display: none;
}

/** VENTANA1 **/

.ventana {
    padding: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: var(--rosa);
    width: 300px;
    height: 150px;
    border: 10px solid #FFFFFF;
    border-radius: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: var(--blanco);
}

.boton {
    text-decoration: none;
    background-color: var(--azulClaro); /* Verde claro */
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
}

.boton:hover {
    border: 5px solid #FFFFFF;
}

/** VENTANA2 **/

.ventana2-tamanos {
    display: flex;
    justify-content: space-evenly;
}

.ventana2-tamanos p {
    cursor: pointer;
}

/** CARTA **/

.area-carta{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5557aa;
    height: 200px;
    width: 150px;
    border: 10px solid #FFFFFF;
}

.carta-frente {
   font-size: 600%;
}

.circulo {
    width: 100px;
    height: 100px;
    background-color: var(--rosa);
    border-radius: 50%;
}

img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}



